[submodule "3rd/jemalloc"]
	path = 3rd/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "3rd/luafilesystem"]
	path = 3rd/luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "3rd/cjson"]
	path = 3rd/cjson
	url = https://github.com/srdgame/lua-cjson.git
[submodule "3rd/iconv"]
	path = 3rd/iconv
	url = https://github.com/ittner/lua-iconv.git
[submodule "3rd/lua-enet"]
	path = 3rd/lua-enet
	url = https://github.com/srdgame/lua-enet.git
[submodule "3rd/librs232"]
	path = 3rd/librs232
	url = https://github.com/srdgame/librs232.git
[submodule "3rd/lua-mosquitto"]
	path = 3rd/lua-mosquitto
	url = https://github.com/kooiot/lua-mosquitto.git
[submodule "3rd/lua-libmodbus"]
	path = 3rd/lua-libmodbus
	url = https://github.com/kooiot/lua-libmodbus
[submodule "3rd/curl"]
	path = 3rd/curl
	url = https://github.com/srdgame/Lua-cURLv3.git
[submodule "3rd/lua-zlib"]
	path = 3rd/lua-zlib
	url = https://github.com/brimworks/lua-zlib.git
[submodule "3rd/lsocket"]
	path = 3rd/lsocket
	url = https://github.com/cloudwu/lsocket.git
[submodule "3rd/lcrypt"]
	path = 3rd/lcrypt
	url = https://github.com/srdgame/lcrypt.git
[submodule "3rd/lua-qpack"]
	path = 3rd/lua-qpack
	url = https://github.com/srdgame/lua-qpack.git
[submodule "3rd/lua-uevent"]
	path = 3rd/lua-uevent
	url = https://github.com/srdgame/lua-uevent.git
