[submodule "3rd/jemalloc"]
	path = 3rd/jemalloc
	url = git@github.com:jemalloc/jemalloc.git
[submodule "3rd/luafilesystem"]
	path = 3rd/luafilesystem
	url = git@github.com:lunarmodules/luafilesystem.git
[submodule "3rd/cjson"]
	path = 3rd/cjson
	url = git@github.com:srdgame/lua-cjson.git
[submodule "3rd/iconv"]
	path = 3rd/iconv
	url = git@github.com:lunarmodules/lua-iconv.git
[submodule "3rd/lua-enet"]
	path = 3rd/lua-enet
	url = git@github.com:srdgame/lua-enet.git
[submodule "3rd/librs232"]
	path = 3rd/librs232
	url = git@github.com:srdgame/librs232.git
[submodule "3rd/lua-mosquitto"]
	path = 3rd/lua-mosquitto
	url = git@github.com:kooiot/lua-mosquitto.git
[submodule "3rd/lua-libmodbus"]
	path = 3rd/lua-libmodbus
	url = git@github.com:kooiot/lua-libmodbus.git
[submodule "3rd/curl"]
	path = 3rd/curl
	url = git@github.com:srdgame/Lua-cURLv3.git
[submodule "3rd/lua-zlib"]
	path = 3rd/lua-zlib
	url = git@github.com:brimworks/lua-zlib.git
[submodule "3rd/lsocket"]
	path = 3rd/lsocket
	url = git@github.com:cloudwu/lsocket.git
[submodule "3rd/lcrypt"]
	path = 3rd/lcrypt
	url = git@github.com:srdgame/lcrypt.git
[submodule "3rd/lua-qpack"]
	path = 3rd/lua-qpack
	url = git@github.com:srdgame/lua-qpack.git
[submodule "3rd/lua-uevent"]
	path = 3rd/lua-uevent
	url = git@github.com:srdgame/lua-uevent.git
